.cover {
  background: linear-gradient( hsla(214, 70%, 10%, .5), hsla(214, 70%, 10%, .5)), url(assets/freedom.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  color: hsla(0, 0%, 100%, .9);
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  text-align: center;
}

.blockquote-wrapper {
  height: 94vh;
  width: 100vw;
  display: table;
}

blockquote {
  display: table-cell;
  vertical-align: middle;
  padding: 1rem 2rem;
}

blockquote i {
  display: inline-block;
  font-style: italic;
  margin-bottom: 2rem;
  font-size: 2rem;
  line-height: 1.3;
}

blockquote p {
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 6rem;
}

@media all and (min-width: 600px) {
  blockquote i {
    font-size: 2.2rem;
  }
  blockquote p {
    font-size: 1.4rem;
  }
}

@media all and (min-width: 768px) {
  blockquote i {
    font-size: 3rem;
  }
  blockquote p {
    font-size: 1.8rem;
  }
}

@media all and (min-width: 1200px) {
  blockquote {
    padding: 1rem 10rem;
  }
  blockquote i {
    font-size: 3.2rem;
    margin-bottom: 3.2rem;
  }
  blockquote p {
    font-size: 2rem;
    margin-bottom: 10rem;
  }
}

@media all and (min-width: 1800px) {
  blockquote i {
    font-size: 4rem;
  }
}

.footer-wrapper {
  background-color: hsla(214, 70%, 10%, .6);
  position: absolute;
  bottom: 0;
  height: 6vh;
  width: 100vw;
  font-size: .9rem;
  line-height: .9rem;
  display: table;
  color: hsla(214, 70%, 90%, .8);
}

.footer-wrapper small {
  display: table-cell;
  vertical-align: middle;
}

.footer-wrapper a {
  text-decoration: none;
  color: hsla(24, 100%, 70%, .8)
}
